<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{projectName}}</title>
    </head>

    <body>
        
        <p>
            Name:{{projectName}} 
            <br/>
            Validity:{{validity}}
        </p>
    </body>
</html>